<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechBlog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>
<header>
    <div class="navbar navbar-dark bg-light box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center float-left">
                
                <strong class="logoWords text-primary">TechBlog</strong>
            </a>
            <nav class"nav">

                <a class="btn btn-warning" href="/"><strong class="btnTextStrong">Home</strong></a>
                {{#if loggedIn}}
                <a class="btn btn-warning" href="/dashboard"><strong class="btnTextStrong">Dashboard</strong></a>
                <button id="logout" class="btn btn-danger"><strong class="btnTextLO">Logout</strong></button>
                {{else}}
                <a class="btn btn-warning" href="/login"><strong class="btnTextStrong">Login</strong></a>
                {{/if}}
            </nav>
            </a>
            </button>
        </div>
    </div>
</header>

<body>
    <div class="wrapper">

        <main>
            {{{ body }}}
        </main>

    </div>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>