
<section class="container mt-5">
<div class="card text-center" style="width: 18rem">
    <div class="card-body "> 
        <h3 class="card-header" id="postHeader">Login</h3>

        <form id="login-form" class="card-body ">

            <label class="form-label" for="username-login">Username:</label>
            <input id="username-login" type="text" autofocus="true" class="form-input" />
            <label class="form-label" for="password-login">Password:</label>
            <input id="password-login" type="password" autofocus="true" class="form-input" />
            <button type="submit" class="btn btn-primary mt-2">Login</button>
            <a class="login-link btn btn-secondary mt-2" href="/signup">Sign up</a>
         </form>
    </div>
</div>
</section>
</div>

<script src="js/login.js"></script>