<div class="container mt-5">
<div class="card" style="width: 18rem">
    <div class="card-body">
        <h3 class="card-header text-center" id="postHeader">Sign-Up</h3>
<form class="signup-form">
    <div>
        <label class="text-center" for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Signup</button>
    </div>
</form>
</div>
</div>

<a class="btn btn-danger ml-5" href="/login">Need to log in instead?</a>

</div>

<script src="/js/signup.js"></script>